body {
      margin: 0;
      /*body ma zajmować wysokosć przeglądarki*/
      height: 100vh;
      /*wyśrodkowanie elementu canvas*/
      display: flex;
      align-items: center;
      justify-content: center;
      /*kolor tła całej strony*/
      background-color: darkgray;
      flex-direction: column;
}
canvas {
    background-color: white;
    border: 5px solid white;
}
.scoreKeeper {
    display: flex;
}
.scoreKeeper div {
    padding: 0px 20px 0px 20px;
    font-size: 50px;
}