.div1 {
	 width:200px;
	height:100px;
    background: #ff0000;
	border: 1px solid black;
	margin-top:100px;
	padding:10px;
	display: inline-block;
}

.div2
 {
	margin-top:10px;
	 width:100px;
	height:230px;
    background: #cce6ff;
	border: 1px solid black;
	padding:15px;
	display: inline-block;
	
}
.da {
	margin:20px;
}