.one{
	background-color: rgba(160, 40, 40, 0.3);
	opacity: 0.3;
background: rgba(113,206,239,1);
background: -moz-linear-gradient(top, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 38%, rgba(97,190,219,1) 64%, rgba(75,168,191,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(113,206,239,1)), color-stop(38%, rgba(113,206,239,1)), color-stop(64%, rgba(97,190,219,1)), color-stop(100%, rgba(75,168,191,1)));
background: -webkit-linear-gradient(top, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 38%, rgba(97,190,219,1) 64%, rgba(75,168,191,1) 100%);
background: -o-linear-gradient(top, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 38%, rgba(97,190,219,1) 64%, rgba(75,168,191,1) 100%);
background: -ms-linear-gradient(top, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 38%, rgba(97,190,219,1) 64%, rgba(75,168,191,1) 100%);
background: linear-gradient(to bottom, rgba(113,206,239,1) 0%, rgba(113,206,239,1) 38%, rgba(97,190,219,1) 64%, rgba(75,168,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ceef', endColorstr='#4ba8bf', GradientType=0 );

}
 .klasa {
	 background-size: 400px 300px;
	
	background-image: url("obraz.jpg");
	width:400px;
	height:300px;
	background-repeat:no-repeat;
	
}
.next {
	background-size: 400px 300px;
	
	background-image: url("obz.jpg");
	width:100%;
	height:200px;
	background-repeat:no-repeat;
	
	background-position: center;
}