table,th,td,tr {
	border-collapse: collapse;
	border:1px solid;
}
th {
	background-color:blue;
	color:white;
	font-weight: bold;
}
tr:nth-child(2n+2) {
	background-color:#99ddff;
}
tr:nth-child(2n+1) {
	background-color:#008ae6;
}
tr td:hover {
	background-color:red;
}